@import url(../css/reset.css);
a, .overlay, .button, .nav {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container:after, .row:after, .content:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

@font-face {
  font-family: "robotobold";
  src: url("../fonts/roboto-bold-webfont.eot");
  src: url("../fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/roboto-bold-webfont.svg#roboto-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#roboto-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotothin";
  src: url("../fonts/roboto-thin-webfont.eot");
  src: url("../fonts/roboto-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-thin-webfont.woff") format("woff"), url("../fonts/roboto-thin-webfont.ttf") format("truetype"), url("../fonts/roboto-thin-webfont.svg#roboto-thin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoitalic";
  src: url("../fonts/roboto-italic-webfont.eot");
  src: url("../fonts/roboto-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-italic-webfont.woff") format("woff"), url("../fonts/roboto-italic-webfont.ttf") format("truetype"), url("../fonts/roboto-italic-webfont.svg#roboto-italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotomedium";
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.svg#roboto-medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
.container {
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  font-size: 0;
}

[class*="col-"] {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 100px) {
  .col-always-1 {
    display: inline-block;
    vertical-align: top;
    width: 8.3333%;
  }
  .col-always-2 {
    display: inline-block;
    vertical-align: top;
    width: 16.6666%;
  }
  .col-always-3 {
    display: inline-block;
    vertical-align: top;
    width: 25%;
  }
  .col-always-4 {
    display: inline-block;
    vertical-align: top;
    width: 33.3333%;
  }
  .col-always-5 {
    display: inline-block;
    vertical-align: top;
    width: 41.6666%;
  }
  .col-always-6 {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
  .col-always-7 {
    display: inline-block;
    vertical-align: top;
    width: 58.3333%;
  }
  .col-always-8 {
    display: inline-block;
    vertical-align: top;
    width: 66.6666%;
  }
  .col-always-9 {
    display: inline-block;
    vertical-align: top;
    width: 75%;
  }
  .col-always-10 {
    display: inline-block;
    vertical-align: top;
    width: 83.3333%;
  }
  .col-always-11 {
    display: inline-block;
    vertical-align: top;
    width: 91.6666%;
  }
  .col-always-12 {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }

  .col-offset-always-1 {
    margin-left: 8.3333%;
  }
  .col-offset-always-2 {
    margin-left: 16.6666%;
  }
  .col-offset-always-3 {
    margin-left: 25%;
  }
  .col-offset-always-4 {
    margin-left: 33.3333%;
  }
  .col-offset-always-5 {
    margin-left: 41.6666%;
  }
  .col-offset-always-6 {
    margin-left: 50%;
  }
  .col-offset-always-7 {
    margin-left: 58.3333%;
  }
  .col-offset-always-8 {
    margin-left: 66.6666%;
  }
  .col-offset-always-9 {
    margin-left: 75%;
  }
  .col-offset-always-10 {
    margin-left: 83.3333%;
  }
  .col-offset-always-11 {
    margin-left: 91.6666%;
  }
  .col-offset-always-12 {
    margin-left: 100%;
  }
}
@media (min-width: 544px) {
  .col-mb-1 {
    display: inline-block;
    vertical-align: top;
    width: 8.3333%;
  }
  .col-mb-2 {
    display: inline-block;
    vertical-align: top;
    width: 16.6666%;
  }
  .col-mb-3 {
    display: inline-block;
    vertical-align: top;
    width: 25%;
  }
  .col-mb-4 {
    display: inline-block;
    vertical-align: top;
    width: 33.3333%;
  }
  .col-mb-5 {
    display: inline-block;
    vertical-align: top;
    width: 41.6666%;
  }
  .col-mb-6 {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
  .col-mb-7 {
    display: inline-block;
    vertical-align: top;
    width: 58.3333%;
  }
  .col-mb-8 {
    display: inline-block;
    vertical-align: top;
    width: 66.6666%;
  }
  .col-mb-9 {
    display: inline-block;
    vertical-align: top;
    width: 75%;
  }
  .col-mb-10 {
    display: inline-block;
    vertical-align: top;
    width: 83.3333%;
  }
  .col-mb-11 {
    display: inline-block;
    vertical-align: top;
    width: 91.6666%;
  }
  .col-mb-12 {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }

  .col-offset-mb-1 {
    margin-left: 8.3333%;
  }
  .col-offset-mb-2 {
    margin-left: 16.6666%;
  }
  .col-offset-mb-3 {
    margin-left: 25%;
  }
  .col-offset-mb-4 {
    margin-left: 33.3333%;
  }
  .col-offset-mb-5 {
    margin-left: 41.6666%;
  }
  .col-offset-mb-6 {
    margin-left: 50%;
  }
  .col-offset-mb-7 {
    margin-left: 58.3333%;
  }
  .col-offset-mb-8 {
    margin-left: 66.6666%;
  }
  .col-offset-mb-9 {
    margin-left: 75%;
  }
  .col-offset-mb-10 {
    margin-left: 83.3333%;
  }
  .col-offset-mb-11 {
    margin-left: 91.6666%;
  }
  .col-offset-mb-12 {
    margin-left: 100%;
  }
}
@media (min-width: 768px) {
  .col-sm-1 {
    display: inline-block;
    vertical-align: top;
    width: 8.3333%;
  }
  .col-sm-2 {
    display: inline-block;
    vertical-align: top;
    width: 16.6666%;
  }
  .col-sm-3 {
    display: inline-block;
    vertical-align: top;
    width: 25%;
  }
  .col-sm-4 {
    display: inline-block;
    vertical-align: top;
    width: 33.3333%;
  }
  .col-sm-5 {
    display: inline-block;
    vertical-align: top;
    width: 41.6666%;
  }
  .col-sm-6 {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
  .col-sm-7 {
    display: inline-block;
    vertical-align: top;
    width: 58.3333%;
  }
  .col-sm-8 {
    display: inline-block;
    vertical-align: top;
    width: 66.6666%;
  }
  .col-sm-9 {
    display: inline-block;
    vertical-align: top;
    width: 75%;
  }
  .col-sm-10 {
    display: inline-block;
    vertical-align: top;
    width: 83.3333%;
  }
  .col-sm-11 {
    display: inline-block;
    vertical-align: top;
    width: 91.6666%;
  }
  .col-sm-12 {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }

  .col-offset-sm-1 {
    margin-left: 8.3333%;
  }
  .col-offset-sm-2 {
    margin-left: 16.6666%;
  }
  .col-offset-sm-3 {
    margin-left: 25%;
  }
  .col-offset-sm-4 {
    margin-left: 33.3333%;
  }
  .col-offset-sm-5 {
    margin-left: 41.6666%;
  }
  .col-offset-sm-6 {
    margin-left: 50%;
  }
  .col-offset-sm-7 {
    margin-left: 58.3333%;
  }
  .col-offset-sm-8 {
    margin-left: 66.6666%;
  }
  .col-offset-sm-9 {
    margin-left: 75%;
  }
  .col-offset-sm-10 {
    margin-left: 83.3333%;
  }
  .col-offset-sm-11 {
    margin-left: 91.6666%;
  }
  .col-offset-sm-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  .col-md-1 {
    display: inline-block;
    vertical-align: top;
    width: 8.3333%;
  }
  .col-md-2 {
    display: inline-block;
    vertical-align: top;
    width: 16.6666%;
  }
  .col-md-3 {
    display: inline-block;
    vertical-align: top;
    width: 25%;
  }
  .col-md-4 {
    display: inline-block;
    vertical-align: top;
    width: 33.3333%;
  }
  .col-md-5 {
    display: inline-block;
    vertical-align: top;
    width: 41.6666%;
  }
  .col-md-6 {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
  .col-md-7 {
    display: inline-block;
    vertical-align: top;
    width: 58.3333%;
  }
  .col-md-8 {
    display: inline-block;
    vertical-align: top;
    width: 66.6666%;
  }
  .col-md-9 {
    display: inline-block;
    vertical-align: top;
    width: 75%;
  }
  .col-md-10 {
    display: inline-block;
    vertical-align: top;
    width: 83.3333%;
  }
  .col-md-11 {
    display: inline-block;
    vertical-align: top;
    width: 91.6666%;
  }
  .col-md-12 {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }

  .col-offset-md-1 {
    margin-left: 8.3333%;
  }
  .col-offset-md-2 {
    margin-left: 16.6666%;
  }
  .col-offset-md-3 {
    margin-left: 25%;
  }
  .col-offset-md-4 {
    margin-left: 33.3333%;
  }
  .col-offset-md-5 {
    margin-left: 41.6666%;
  }
  .col-offset-md-6 {
    margin-left: 50%;
  }
  .col-offset-md-7 {
    margin-left: 58.3333%;
  }
  .col-offset-md-8 {
    margin-left: 66.6666%;
  }
  .col-offset-md-9 {
    margin-left: 75%;
  }
  .col-offset-md-10 {
    margin-left: 83.3333%;
  }
  .col-offset-md-11 {
    margin-left: 91.6666%;
  }
  .col-offset-md-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    display: inline-block;
    vertical-align: top;
    width: 8.3333%;
  }
  .col-lg-2 {
    display: inline-block;
    vertical-align: top;
    width: 16.6666%;
  }
  .col-lg-3 {
    display: inline-block;
    vertical-align: top;
    width: 25%;
  }
  .col-lg-4 {
    display: inline-block;
    vertical-align: top;
    width: 33.3333%;
  }
  .col-lg-5 {
    display: inline-block;
    vertical-align: top;
    width: 41.6666%;
  }
  .col-lg-6 {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
  .col-lg-7 {
    display: inline-block;
    vertical-align: top;
    width: 58.3333%;
  }
  .col-lg-8 {
    display: inline-block;
    vertical-align: top;
    width: 66.6666%;
  }
  .col-lg-9 {
    display: inline-block;
    vertical-align: top;
    width: 75%;
  }
  .col-lg-10 {
    display: inline-block;
    vertical-align: top;
    width: 83.3333%;
  }
  .col-lg-11 {
    display: inline-block;
    vertical-align: top;
    width: 91.6666%;
  }
  .col-lg-12 {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }

  .col-offset-lg-1 {
    margin-left: 8.3333%;
  }
  .col-offset-lg-2 {
    margin-left: 16.6666%;
  }
  .col-offset-lg-3 {
    margin-left: 25%;
  }
  .col-offset-lg-4 {
    margin-left: 33.3333%;
  }
  .col-offset-lg-5 {
    margin-left: 41.6666%;
  }
  .col-offset-lg-6 {
    margin-left: 50%;
  }
  .col-offset-lg-7 {
    margin-left: 58.3333%;
  }
  .col-offset-lg-8 {
    margin-left: 66.6666%;
  }
  .col-offset-lg-9 {
    margin-left: 75%;
  }
  .col-offset-lg-10 {
    margin-left: 83.3333%;
  }
  .col-offset-lg-11 {
    margin-left: 91.6666%;
  }
  .col-offset-lg-12 {
    margin-left: 100%;
  }
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100%;
  font-size: 16px;
}

body {
  overflow-y: scroll;
  color: #252525;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 100%;
}
body.body--hidden {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

*:focus {
  outline: 0;
}

::-webkit-input-placeholder, :placeholder-shown, select {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

:-moz-placeholder, :placeholder-shown, select {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

::-moz-placeholder, :placeholder-shown, select {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

:-ms-input-placeholder, :placeholder-shown, select {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

::placeholder, :placeholder-shown, select {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

textarea {
  resize: none;
}

label {
  display: block;
  cursor: pointer;
}

form {
  display: inline;
}

img, iframe {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

select, iframe {
  max-width: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1;
}
.overlay.bundle-overlay--visible {
  opacity: 1;
  left: 0;
}

.title {
  display: block;
  margin-bottom: 36px;
  color: #444;
  line-height: 48px;
  font-size: 32px;
  font-weight: bold;
}
.title--small {
  margin-bottom: 28px;
  line-height: 40px;
  font-size: 26px;
  font-weight: normal;
}

.subtitle {
  display: block;
  margin-bottom: 24px;
  color: #757575;
  line-height: 24px;
  font-size: 1.25rem;
}

.example {
  margin-bottom: 60px;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 auto;
  width: 100%;
}

.footer {
  margin: 0 auto;
  width: 100%;
}

.content {
  padding: 32px 0;
}

.icon {
  display: inline-block;
}
.icon--middle {
  vertical-align: middle;
}

.button {
  display: inline-block;
  vertical-align: top;
  outline: 0;
  border: 0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  overflow: hidden;
  background: none;
  line-height: normal;
  font-size: 0.875rem;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.button:focus, .button:active {
  opacity: 0.8;
}

.form-field {
  display: block;
  margin: 0 0 16px 0;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #ccc;
  -webkit-border-radius: 0;
          border-radius: 0;
  width: 100%;
  height: 32px;
  padding: 4px 0px;
  background: #fff;
  font-size: 1rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.form-field:focus {
  border-bottom-color: #3949AB;
}

.header {
  background-color: #3949AB;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.nav-trigger {
  width: 48px;
  height: 48px;
  color: #fff;
}

.nav {
  width: 256px;
  height: 100%;
  padding: 32px;
  overflow-y: auto;
  background-color: #fff;
  opacity: 0;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 2;
}
.nav.bundle-container--active {
  opacity: 1;
  left: 0;
}
.nav__link {
  display: block;
  margin-bottom: 24px;
  color: #3949AB;
  line-height: 18px;
  font-size: 1.125rem;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.nav__link--active {
  font-weight: bold;
  text-decoration: underline;
}

.footer {
  padding: 16px 0;
  background-color: #757575;
}

.copyright {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}

.settings {
  margin-bottom: 60px;
}
.settings__title {
  margin-bottom: 6px;
  line-height: 24px;
  font-size: 1rem;
}
.settings__title--location_inside {
  padding-top: 4px;
}

.checkbox {
  margin-bottom: 12px;
  padding-left: 32px;
  line-height: 24px;
  font-size: 0.875rem;
  position: relative;
}
.checkbox:before, .checkbox:after {
  content: "";
  position: absolute;
}
.checkbox:before {
  margin-top: -8px;
  border: 2px solid #444;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  top: 50%;
  left: 0;
}

input:checked + .checkbox:before {
  border-color: #3949AB;
  background-color: #3949AB;
}
input:checked + .checkbox:after {
  margin-top: -6px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #fff;
  width: 5px;
  height: 10px;
  top: 50%;
  left: 6px;
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
}

.dd-trigger {
  cursor: pointer;
}

.categories {
  background-color: #fff;
}

.category--level_1 {
  border-bottom: 1px solid #ccc;
}
.category--level_2:last-child .category__name {
  border-bottom: 0;
}
.category--level_2.dd-dropdown--pressed:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.category__drop {
  display: none;
}
.category.dd-dropdown--opened > .category__drop {
  display: block;
}
.category.dd-dropdown--pressed > .category__name--level_1 {
  -webkit-box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);
}
.category.dd-dropdown--pressed > .category__name--level_2 {
  border-bottom: 0;
  -webkit-box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.4);
}
.category__subcategories--level_1 {
  background-color: #f7f7f7;
}
.category__subcategories--level_2 {
  padding: 12px 0;
  background-color: #f2f2f2;
}
.category__name {
  display: block;
  padding-right: 48px;
  color: #3949AB;
  position: relative;
}
.category__name--level_1 {
  line-height: 54px;
  font-size: 1.125rem;
}
.category__name--level_2 {
  border-bottom: 1px solid #ccc;
  padding-left: 16px;
  line-height: 42px;
  font-size: 1rem;
}
.category__name--level_3 {
  padding-left: 32px;
  line-height: 32px;
  font-size: 0.875rem;
}
.category__trigger {
  width: 48px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.category__trigger:before, .category__trigger:after {
  content: "";
  background-color: #757575;
  position: absolute;
  top: 50%;
  left: 50%;
}
.category__trigger:before {
  margin-top: -6px;
  margin-left: -1px;
  width: 2px;
  height: 12px;
}
.category__trigger:after {
  margin-top: -1px;
  margin-left: -6px;
  width: 12px;
  height: 2px;
}
.category__trigger.dd-trigger--active:before {
  -webkit-transform: rotateZ(90deg);
     -moz-transform: rotateZ(90deg);
      -ms-transform: rotate(90deg);
          transform: rotateZ(90deg);
}

.select {
  margin-bottom: 24px;
  position: relative;
}
.select.dd-dropdown--pressed {
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.select.dd-dropdown--opened > .select__drop {
  display: block;
}
.select__value {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-left: 12px;
  background-color: #f5f5f5;
  line-height: 48px;
  font-size: 0.875rem;
  position: relative;
}
.select__value:before {
  content: "";
  margin-top: -3px;
  border-top: 5px solid #757575;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  position: absolute;
  top: 50%;
  right: 12px;
}
.select__value.dd-trigger--active {
  border-top-color: transparent;
  background-color: #fff;
}
.select__drop {
  display: none;
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.select__items {
  margin: 16px 0;
  max-height: 200px;
  overflow-y: auto;
}
.select__item {
  padding-left: 16px;
  line-height: 36px;
  font-size: 0.875rem;
  white-space: nowrap;
  cursor: default;
}
.select__item--selected, .select__item:hover {
  background-color: #eee;
}

.spinner {
  margin: 0 auto;
  width: 200px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
}
.spinner__field {
  margin: 0;
  width: 160px;
  height: 80px;
}
.spinner__control {
  width: 40px;
  height: 40px;
  background: #ccc;
  color: #fff;
  font-size: 24px;
  position: absolute;
  right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
}
.spinner__control--plus {
  border-bottom: 1px solid #fff;
  top: 0;
}
.spinner__control--minus {
  border-top: 1px solid #fff;
  bottom: 0;
}

.tabs__nav {
  background-color: #c5cae9;
  font-size: 0;
}
.tabs__link {
  border-bottom: 2px solid transparent;
  padding: 16px 24px 14px 24px;
  background-color: #c5cae9;
  color: #444;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
}
.tabs__link--outer {
  display: none;
}
.tabs__link.t-tab-nav-item--active, .tabs__link.t-tab-nav-item--active_mobile {
  border-bottom-color: #ff4081;
}
.tabs__link--inner {
  display: block;
  margin: 16px 0;
}
.tabs__item {
  display: none;
  font-size: 16px;
}
.tabs__item.t-tab-item--active {
  display: block;
}
.tabs__inner {
  padding: 16px;
  background-color: #f5f5f5;
}

.thumbs__item {
  margin-bottom: 30px;
}
.thumbs__item:last-child {
  margin-bottom: 0;
}

.thumb__inner {
  text-align: center;
}
.thumb__preview {
  margin: 0 auto;
  height: 258px;
  line-height: 258px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.45);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.45);
}
.thumb__preview iframe {
  width: 100%;
  max-width: none;
  height: 100%;
}

@media (min-width: 544px) {
  .thumbs__item--small:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .nav-trigger {
    display: none;
  }

  .nav {
    width: auto;
    padding: 0;
    overflow-y: visible;
    background-color: #3949AB;
    opacity: 1;
    position: static;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
  }
  .nav__link {
    display: inline-block;
    vertical-align: middle;
    margin-right: 24px;
    margin-bottom: 0;
    color: #fff;
    line-height: 64px;
  }

  .tabs__link--outer {
    display: inline-block;
    vertical-align: top;
  }
  .tabs__link--outer.t-tab-nav-item--active_desktop {
    border-bottom-color: #ff4081;
  }
  .tabs__link--inner {
    display: none;
  }
  .tabs__item.t-tab-item--active_mobile {
    display: none;
  }
  .tabs__item.t-tab-item--active_desktop {
    display: block;
  }

  .thumbs__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.flex--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.flex--wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.link {
  color: #3949AB;
}
.link--underline {
  text-decoration: underline;
}
.link:hover {
  color: #2c3985;
}

.table {
  display: table;
  width: 100%;
}

.table-row {
  display: table-row;
}

.cell {
  display: table-cell;
}
.cell--middle {
  vertical-align: middle;
}
.cell--top {
  vertical-align: top;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-ultralarge {
  font-size: 1.5rem;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.relative {
  position: relative;
}

.image {
  display: block;
}

.image__inner {
  display: block;
  font-size: 0;
  text-align: center;
}
.image__inner img {
  display: inline-block;
  vertical-align: middle;
}

.inline-block {
  display: inline-block;
}
.inline-block--top {
  vertical-align: top;
}
.inline-block--middle {
  vertical-align: middle;
}
.inline-block--bottom {
  vertical-align: bottom;
}

.none {
  display: none;
}

.description {
  margin-bottom: 32px;
  line-height: 1.43;
  font-size: 1rem;
}
.description h3 {
  margin: 18px 0 8px;
  font-weight: bold;
}
.description p {
  margin: 12px 0;
  line-height: 1.43;
  font-size: 1rem;
}
.description strong, .description b {
  font-weight: bold;
}
.description em, .description i {
  font-style: italic;
}
.description ul {
  padding-left: 30px;
}
.description ul li {
  margin-bottom: 5px;
  color: #444;
  position: relative;
}
.description ul li:before {
  content: "";
  margin-top: -2.5px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  width: 5px;
  height: 5px;
  background-color: #757575;
  position: absolute;
  top: 50%;
  left: -17px;
}
.description ol {
  padding-left: 30px;
  counter-reset: list;
}
.description ol li {
  margin-bottom: 5px;
  color: #444;
  position: relative;
}
.description ol li:before {
  content: counter(list) ".";
  counter-increment: list;
  position: absolute;
  top: 0;
  left: -21px;
}
.description a {
  color: #3949AB;
  text-decoration: underline;
}


