.footer {
    padding: 16px 0;
    background-color: rgba(0,0,0,0.6);
}

.copyright {
    color: get-color("white");
    font-size: get-font-size("base");
    font-weight: 300;
    text-align: center;
}